$primary: #212529;
@import "~bootstrap/scss/bootstrap";
@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

*:disabled{
  cursor:not-allowed!important;
}

body{
  background-image: url('../public/assets/images/background.png');
  background-color: #FAFAFA;
  background-repeat: no-repeat;
  background-size: 100% 15rem;
}

svg{
  color: $primary;
}

.disabled{
  color: #999!important;
  cursor:not-allowed!important;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app{
  margin: 3.5rem 0;
  width: 32rem;

  .app-header{
    .header-title{
      padding: 1rem 0;
      color: #FFF;
      font-size: 2rem;
    }
  }

  .app-body{
    .todo-form{     
      .todo-input{
        width:100%;
        padding: .75rem 1.5rem;
        border: 0;
        margin-bottom: .375rem;
      }

      .hint{
        color: #CECECE;
        margin-left: .25rem;
      }
    }

    .todo-list{
      margin-top: 1rem;
      width: 100%;
      background-color: #fff;
      border-radius: .25rem;
      box-shadow: 0rem .25rem .75rem rgba(0,0,0,0.125);

      .todo-body{
        padding: 0;
        margin: 0;

        .todo-item{
          display: flex;
          padding: 1rem;
          list-style: none;
          border-bottom: 1px solid #e6e5ea;
          align-items: center;

          .item-task{
            margin-right: 1rem;
            width: fit-content;

            .checkbox{
              cursor: pointer;
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          .item-content{
            width:100%;
          }

          .item-action{
            display: flex;
            margin-left: 1rem;

            .edit{
              cursor: pointer;
              margin-right: .75rem;
              width: 1.375rem;
              height: 1.375rem;
            }

            .close{
              cursor: pointer;
              margin-right: .75rem;
              width: 1.4rem;
              height: 1.4rem;
            }

            .delete{
              cursor: pointer;
              width: 1.35rem;
              height: 1.35rem;
            }

          }
          
        }

      }
      
      .todo-footer{
        display: flex;
        padding: 1rem;
        font-size: .75rem!important;
        justify-content: space-between;
        color: #666;

        a{
          color: $primary;
          font-weight: 600;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}